.nav a {
  color: #009999;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

li.selected  a {
  border-bottom: 3px solid #009999;
}

.jumbotron {
  background-color: #009999;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  text-align: center;
  padding-top: 150px;
}

.jumbotron p {
  color: #fff;
  font-size: 20px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  text-align: center;
}

.content h1 {
  color: #009999;
  font-size: 38px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  text-decoration: underline;
}

.content p {
  text-align: center;
}

.content {
  position: relative;
  z-index: 10;
  position: absolute;
  background: url(../img/floatbox_bg.png);
  border: 3px solid #009999;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 15px;
  text-align: center;
  width: 800px;
  margin-left: -420px;
}
